
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            padding: 0;
            background-color: #f4f4f4;
            background-image: url('/static/img/bookings.jpg'); /* Add the path to your image */
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed; /* Fix the background image */
        }
        h2 {
            color: white;
        }
        form {
            max-width: 500px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 30px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        label, input, select {
            display: block;
            margin-bottom: 10px;
        }
        button {
            padding: 10px;
            background-color: #3498db;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        button:hover {
            background-color: #2980b9;
        }
        /* Room Images */
        .room-image {
            max-width: 100%;
            height: auto;
            margin-bottom: 10px;
            border-radius: 6px;
        }
        .room-image {
            display: none; /* Hide all images by default */
            max-width: 100%;
            height: auto;
            margin-bottom: 10px;
            border-radius: 6px;
        }