/* Общие стили для страниц комнат */
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            background-color: #f4f4f4;
            background-image: url('/static/img/bookings.jpg'); /* Add the path to your image */
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            /* Дополнительные стили по желанию */
        }

        .room-details {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        /* Стили для изображений комнаты */
        .room-details img {
            max-width: 100%;
            height: auto;
            margin-bottom: 10px;
            border-radius: 6px;
            /* Дополнительные стили по желанию */
        }

        /* Дополнительные стили по желанию */
        h1 {
            color: whait;
        }

        /* Стили для ссылок */
        a {
            display: block;
            margin: 5px 0;
            padding: 8px 15px;
            text-decoration: none;
            color: #fff;
            background-color: #3498db;
            border-radius: 4px;
            transition: background-color 0.3s ease;
        }

        a:hover {
            background-color: #2980b9;
        }

        .centered {
            text-align: center;
        }
        /* Flexbox styles */
        .links {
            display: flex;
            justify-content: space-between;