<!-- bookings.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/bookings.css">
    <title>Форма бронирования</title>
</head>
<body>
    <h2>Форма бронирования</h2>
    <form id="bookingForm" action="/book" method="POST">
        <!-- إضافة عنصر الخصم بنسبة الاحتلال -->
        <input type="hidden" id="occupancyDiscount" name="occupancyDiscount" value="0.0">
        <!-- نهاية الإضافة -->



        <!-- باقي عناصر النموذج -->
        <label for="room">Выберите номер:</label>
        <select id="room" name="room" onchange="changeImage()" required>
            <option value="1" data-price-per-night="5500">vip room</option>
            <option value="2" data-price-per-night="4000">Standard room</option>
            <option value="3" data-price-per-night="2500">Double room</option>
            <option value="4" data-price-per-night="3000">Suite room</option>
            <!-- Add more options as needed -->
        </select>
        <br><br>

        <img class="room-image" id="room1Image" src="https://yestour.ru/upload/information_system_5/0/1/6/group_16/group_16.jpg" alt="Room 1">
        <img class="room-image" id="room2Image" src="https://fb.ru/misc/i/gallery/85188/2662746.jpg" alt="Room 2">
        <img class="room-image" id="room3Image" src="https://www.gannett-cdn.com/-mm-/05b227ad5b8ad4e9dcb53af4f31d7fbdb7fa901b/c=0-64-2119-1259/local/-/media/USATODAY/USATODAY/2014/08/13/1407953244000-177513283.jpg?width=2560" alt="Room 3">
        <img class="room-image" id="room4Image" src="https://www.cvent.com/sites/default/files/styles/focus_scale_and_crop_800x450/public/image/2021-10/hotel%20room%20with%20beachfront%20view.webp?h=662a4f7c&itok=7Laa3LkQ" alt="Room 4">

        <label for="check-in">Дата заезда:</label>
        <input type="date" id="check-in" name="check-in" onchange="calculatePrice()" required><br><br>

        <label for="check-out">Дата выезда:</label>
        <input type="date" id="check-out" name="check-out" onchange="calculatePrice()" required><br><br>

        <label for="guests">Количество гостей:</label>
        <input type="number" id="guests" name="guests" min="1" max="4" onchange="calculatePrice()" required><br><br>

        <!-- Добавляем поля для ввода ФИО для каждого гостя -->
        <div id="guestNames">
            <label for="guest1">ФИО гостя 1:</label>
            <input type="text" id="guest1" name="guest1" required><br><br>
        </div>

        <div> <p id="priceInfo" style="display: none;">Стоимость: 0 рублей</p> </div><!-- Hide the price initially -->


        <button type="submit">Забронировать</button>
    </form>

    <!-- إضافة الشيفرة الخاصة بتغييرات الأسعار -->
    <script src="/static/js/bookingForm.js"></script>
</body>
</html>
