<!-- Suiteroom.html-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/room.css">
    <title>Suite room</title>
</head>
<body>
<div class="room" id="room-4">
            <!-- The content will be dynamically populated by JavaScript -->
        </div>
     <script src="/static/js/roomDetails.js"></script>

    <!-- Добавьте другие детали комнаты, если нужно -->
    <div class="centered">
        <a href="{{ url_for('index') }}">Вернуться на главную страницу</a>
    </div>
    <a href="/Doubleroom">Перейти к предыдущая комната</a> <!-- Ссылка на страницу "Комната 3" -->

    <footer>
        <p>&copy; 2023 Ваш отель. Все права защищены.</p>
    </footer>
</body>
</html>
