<!-- viproom.html-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/room.css">
    <title>Vip room</title>

</head>
<body>
    <h1>Vip Room 1</h1>

    <div class="room" id="room-1">
            <!-- The content will be dynamically populated by JavaScript -->
        </div>
     <script src="/static/js/roomDetails.js"></script>

    <!-- Добавьте другие детали комнаты, если нужно -->
    <div class="centered">
        <a href="{{ url_for('index') }}">Вернуться на главную страницу</a>
    </div>
    <div class="links">
    <a href="/Standardroom">Перейти к следующая комната</a> <!-- Ссылка на страницу "Комната 2" -->
     </div>

    <footer>
        <p>&copy; 2023 Ваш отель. Все права защищены.</p>
    </footer>
</body>
</html>
